body{
  background-color: skyblue;
  background-image: url("/home/kennedy/Documents/homework/assignment/ip/images/abstract-dynamic-pattern-wallpaper-vector_53876-59131.jpg");

  color: green;
  font-style: italic;
  font-size: 145%;
}

.header{
color:purple;
text-shadow:skyblue 2px 5px;
}
.answer {
 color: green;
 font-style: italic;
 }
.DefReset {
 color: Red;
 font-style: italic;
}
.input  {
 color: skyblue;
 font-style: italic;
}
.Side1 {
 color: pink;
 font-style: italic;
}
.Side2 {
 color: pink;
 font-style: italic;
}
.Side3 {
 color: pink

}
.instract {
 color: skyblue
}
